@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overscroll-behavior: none;
  overflow: auto;
}

.container {
  @apply shadow-lg m-auto ml-14 mr-14 flex-1 text-center p-8 overflow-auto rounded-2xl border-l border-b;
}