@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-image: linear-gradient(to right, #09203f 0%, #537895 100%);
  font-family: 'Poppins', sans-serif;
  color: white;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overscroll-behavior: none;
  overflow: auto;
}